orgData/
report/*
!report/*.tex
Pipfile.lock
__pycache__/
.idea/
tabularDataToKG/states.csv
tabularDataToKG/ontology_ttl.owl
tabularDataToKG/cities.csv
tabularDataToKG/allUSCities.csv
tabularDataToKG/cityURLS.xlsx
tabularDataToKG/clean_menu_items.xlsx
tabularDataToKG/ontology.owl
tabularDataToKG/menu_descriptions.xlsx