[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
owlready2 = "*"
rdflib = "*"
sparqlwrapper = "*"
pandas = "*"
openpyxl = "*"
owlrl = "*"
gensim = "*"
scikit-learn = "*"
nltk = "*"

[dev-packages]
ipykernel = "*"
flake8 = "*"
pdoc = "*"

[requires]
python_version = "3.8"

[scripts]
check = "flake8"
dynamic_docs = "cd .. && pdoc --docformat=numpy --favicon https://link477.com/favicon.ico --logo=https://link477.com/assets/images/link477.png Pizza_KG"
save_docs = "cd .. && pdoc --docformat=numpy --favicon https://link477.com/favicon.ico --logo=https://link477.com/assets/images/link477.png -o Pizza_KG/docs Pizza_KG && cd Pizza_KG"
tabularDataToKG = "py -m tabularDataToKG"
