[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
owlready2 = "*"
rdflib = "*"
sparqlwrapper = "*"
pandas = "*"
openpyxl = "*"
owlrl = "*"

[dev-packages]
ipykernel = "*"
flake8 = "*"
pdoc = "*"

[requires]
python_version = "3.8"

[scripts]
check = "flake8"
dynamic_docs = "pdoc --docformat=numpy tabularDataToKG pizza_kg sparqlAndReasoning"
save_docs = "pdoc --output-directory ./docs tabularDataToKG pizza_kg sparqlAndReasoning"
tabularDataToKG = "py -m tabularDataToKG"
